<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />

    <link rel="stylesheet" href="/stylesheets/all.css" />

    <link rel="stylesheet" href="/stylesheets/bootstrap-formhelpers.min.css" />

    <link rel="stylesheet" href="/stylesheets/bootstrap-slider.min.css" />

    <link rel="stylesheet" href="/stylesheets/Mystyle/publish-style.css" />

    <title>Published Page</title>
</head>

<body onbeforeunload="return confirm('Are you sure to reload?')">



    <div class="container-fluid row mx-0 px-0">



        <div id="mainPagePanel" class="col-md bg-dark my-0 no-gutter-all">
            <div class="container-fluid no-gutter-all">



                <ul class="nav nav-tabs bg-primary toggle-nav justify-content-center" role="tablist">
                    <li class="nav-item mr-auto my-auto ml-4 text-white">
                        <div class="row">
                            <a class="btn returnLink" href="/device"><i class="fas fa-undo mr-2"></i>Device Page</a>
                            <p id="deviceID" hidden><%= deviceID %></p>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#mainPage1"><i
                                class="fas fa-home mr-1"></i><strong>Home</strong></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " data-toggle="tab" href="#alarm" id="alarmTitle"><i
                                class="fas fa-exclamation-triangle mr-1"></i><strong>Alarm</strong></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " data-toggle="tab" href="#history"><i
                                class="fas fa-history mr-1"></i><strong>History</strong></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#dashboard"><i
                                class="far fa-chart-bar mr-1"></i><strong>Dashboard</strong></a>
                    </li>
                    <li class="nav-item ml-auto my-auto mr-2 text-white row">
                        <p class="my-auto" id="user"><%= user %></p>
                    </li>
                    <a class="btn mr-4" href="/logout" onclick="return confirm('Are you sure to logout?')"><i
                            class="fas fa-sign-out-alt mr-2"></i>Logout</a>

                </ul>




                <div class="tab-content">
                    <div id="mainPage1" class="container-fluid tab-pane active bg-white full-height px-2">

                        <!-- <div class="alert alert-warning alert-dismissible ml-auto fade show" style = "width:20%">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            <i
                                class="fas fa-exclamation-triangle mr-1"></i><strong>Warning!</strong> New alarm
                        </div> -->
                        <svg id="SvgjsSvg1001" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg"
                            version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink"
                            xmlns:svgjs="http://svgjs.com/svgjs">
                            <defs id="SvgjsDefs1002"></defs>
                        </svg><img id="img0" class="contextMenu draggable ui-draggable ui-draggable-handle"
                            src="/images/symbols/Tank/Tank_064.png"
                            style="height: 550px; width: 300px; position: absolute; top: 365px; left: 680px; cursor: pointer; opacity: 1;"><img
                            id="symbolSet1" class="contextMenu draggable ui-draggable ui-draggable-handle"
                            src="/images/symbols/Valve/Valve_050.png"
                            style="height: 60px; width: 70px; position: absolute; top: 245px; left: 1074px; cursor: pointer; opacity: 1;"><img
                            id="symbolSet2" class="contextMenu draggable ui-draggable ui-draggable-handle"
                            src="/images/symbols/Light/Light_008.png"
                            style="height: 40px; width: 40px; position: absolute; top: 400px; left: 1184px; cursor: pointer; opacity: 1;"><img
                            id="symbolSet3" class="contextMenu draggable ui-draggable ui-draggable-handle"
                            src="/images/symbols/Light/Light_007.png"
                            style="height: 40px; width: 40px; position: absolute; top: 474px; left: 1183px; cursor: pointer; opacity: 1;"><img
                            id="symbolSet4" class="contextMenu draggable ui-draggable ui-draggable-handle"
                            src="/images/symbols/Valve/Valve_050.png"
                            style="height: 60px; width: 70px; position: absolute; top: 740px; left: 526px; cursor: pointer; opacity: 1;"><img
                            id="img5" class="contextMenu draggable ui-draggable ui-draggable-handle"
                            src="http://localhost:3000/images/symbols/Pipes/Pipes_102.png"
                            style="height: 62px; width: 25px; position: absolute; top: 307px; left: 888px; cursor: pointer; opacity: 1;"><img
                            id="img6" class="contextMenu draggable ui-draggable ui-draggable-handle"
                            src="/images/symbols/Pipes/Pipes_092.png"
                            style="height: 25px; width: 150px; position: absolute; top: 273px; left: 927px; cursor: pointer; opacity: 1;"><img
                            id="img7" class="contextMenu draggable ui-draggable ui-draggable-handle"
                            src="/images/symbols/Pipes/Pipes_012.png"
                            style="height: 41px; width: 41px; position: absolute; top: 273px; left: 888px; cursor: pointer; opacity: 1;"><img
                            id="img8" class="contextMenu draggable ui-draggable ui-draggable-handle"
                            src="http://localhost:3000/images/symbols/Pipes/Pipes_092.png"
                            style="height: 25px; width: 100px; position: absolute; top: 767px; left: 581px; cursor: pointer; opacity: 1;"><img
                            id="img9" class="contextMenu draggable ui-draggable ui-draggable-handle"
                            src="http://localhost:3000/images/symbols/Pipes/Pipes_092.png"
                            style="height: 25px; width: 50px; position: absolute; top: 769px; left: 480px; cursor: pointer; opacity: 1;"><img
                            id="img10" class="contextMenu draggable ui-draggable ui-draggable-handle"
                            src="/images/symbols/Pipes/Pipes_012.png"
                            style="height: 41px; width: 41px; position: absolute; top: 769px; left: 442px; cursor: pointer; opacity: 1;">
                        <div class="progress contextMenu vertical-progress draggable ui-draggable ui-draggable-handle"
                            id="verticalProgressbar11"
                            style="position: absolute; top: 437px; left: 791.5px; width: 78px; height: 370px; opacity: 1; cursor: pointer;">
                            <div class="progress-bar"
                                style="position: absolute; top: 31.684%; width: 100%; height: 68.316%; opacity: 1; cursor: pointer;">
                                2.049</div>
                        </div>
                        <p id="text12" class="contextMenu plain-draggable"
                            style="font-size: 25px; font-family: Arial; font-style: normal; color: rgb(0, 128, 255); position: absolute; top: 389px; left: 773px; will-change: left, top; -webkit-tap-highlight-color: transparent; box-shadow: transparent 0px 0px 1px; opacity: 1; cursor: grab; user-select: none; margin: 0px;">
                            Level (m)</p><button id="button13"
                            class="btn btn-primary contextMenu draggable ui-draggable ui-draggable-handle"
                            style="position: absolute; top: 398px; left: 1007px; color: rgb(255, 255, 255); background: rgb(0, 128, 0); font-size: 16px; font-style: normal; opacity: 1; width: 120px; height: 38px;">Start</button><button
                            id="button14" class="btn btn-primary contextMenu draggable ui-draggable ui-draggable-handle"
                            style="position: absolute; top: 474px; left: 1008px; color: rgb(255, 255, 255); background: rgb(255, 0, 0); font-size: 16px; font-style: normal; opacity: 1; width: 120px; height: 38px;">Stop</button><button
                            id="button15" class="btn btn-primary contextMenu draggable ui-draggable ui-draggable-handle"
                            style="position: absolute; top: 597px; left: 1009px; color: rgb(255, 255, 255); background: rgb(66, 133, 244); font-size: 16px; font-style: normal; opacity: 1; width: 120px; height: 38px;">Set
                            Auto</button><button id="button16"
                            class="btn btn-primary contextMenu draggable ui-draggable ui-draggable-handle"
                            style="position: absolute; top: 597px; left: 1137px; color: rgb(255, 255, 255); background: rgb(66, 133, 244); font-size: 16px; font-style: normal; opacity: 1; width: 120px; height: 38px;">Set
                            Manual</button>
                        <p id="text17" class="contextMenu plain-draggable"
                            style="font-size: 25px; font-family: Arial; font-style: normal; color: rgb(0, 0, 0); position: absolute; top: 535px; left: 1030px; will-change: left, top; -webkit-tap-highlight-color: transparent; box-shadow: transparent 0px 0px 1px; opacity: 1; cursor: grab; user-select: none; margin: 0px;">
                            Mode:</p>
                        <p id="text18" class="contextMenu plain-draggable"
                            style="font-size: 25px; font-family: Arial; font-style: normal; color: rgb(0, 128, 0); position: absolute; top: 533px; left: 1175px; will-change: left, top; -webkit-tap-highlight-color: transparent; box-shadow: transparent 0px 0px 1px; opacity: 1; cursor: grab; user-select: none; margin: 0px;">
                            Auto</p>
                        <p id="text19" class="contextMenu plain-draggable"
                            style="font-size: 25px; font-family: Arial; font-style: normal; color: rgb(255, 128, 0); position: absolute; top: 531px; left: 1156px; will-change: left, top; -webkit-tap-highlight-color: transparent; box-shadow: transparent 0px 0px 1px; opacity: 1; cursor: grab; user-select: none; margin: 0px;">
                            Manual</p>
                        <p id="text20" class="contextMenu plain-draggable"
                            style="font-size: 25px; font-family: Arial; font-style: normal; color: rgb(255, 128, 0); position: absolute; top: 655px; left: 1008px; will-change: left, top; -webkit-tap-highlight-color: transparent; box-shadow: transparent 0px 0px 1px; opacity: 1; cursor: grab; user-select: none; margin: 0px;">
                            Manual control:</p>
                        <p id="text21" class="contextMenu plain-draggable"
                            style="font-size: 20px; font-family: Arial; font-style: normal; color: rgb(0, 0, 0); position: absolute; top: 706px; left: 1027px; will-change: left, top; -webkit-tap-highlight-color: transparent; box-shadow: transparent 0px 0px 1px; opacity: 1; cursor: grab; user-select: none; margin: 0px;">
                            Fill valve</p>
                        <p id="text22" class="contextMenu plain-draggable"
                            style="font-size: 20px; font-family: Arial; font-style: normal; color: rgb(0, 0, 0); position: absolute; top: 698px; left: 496px; will-change: left, top; -webkit-tap-highlight-color: transparent; box-shadow: transparent 0px 0px 1px; opacity: 1; cursor: grab; user-select: none; margin: 0px;">
                            Discharge valve</p><label class="switch contextMenu plain-draggable"
                            style="position: absolute; top: 759px; left: 1189px; will-change: left, top; -webkit-tap-highlight-color: transparent; box-shadow: transparent 0px 0px 1px; cursor: grab; user-select: none; margin: 0px;"><input
                                type="checkbox" class=" primary "><span class="slider-sw round"
                                id="switch23"></span></label><label class="switch contextMenu plain-draggable"
                            style="position: absolute; top: 708px; left: 1187px; will-change: left, top; -webkit-tap-highlight-color: transparent; box-shadow: transparent 0px 0px 1px; cursor: grab; user-select: none; margin: 0px;"><input
                                type="checkbox" class=" primary "><span class="slider-sw round"
                                id="switch24"></span></label><img id="img25"
                            class="contextMenu draggable ui-draggable ui-draggable-handle"
                            src="http://localhost:3000/images/symbols/Pipes/Pipes_092.png"
                            style="height: 25px; width: 100px; position: absolute; top: 274px; left: 1127px; cursor: pointer; opacity: 1;">
                        <p id="text26" class="contextMenu plain-draggable"
                            style="font-size: 20px; font-family: Arial; font-style: normal; color: rgb(0, 0, 0); position: absolute; top: 203px; left: 1068px; will-change: left, top; -webkit-tap-highlight-color: transparent; box-shadow: transparent 0px 0px 1px; opacity: 1; cursor: grab; user-select: none; margin: 0px;">
                            Fill valve</p>
                        <p id="text27" class="contextMenu plain-draggable"
                            style="font-size: 20px; font-family: Arial; font-style: normal; color: rgb(0, 0, 0); position: absolute; top: 760px; left: 1026px; will-change: left, top; -webkit-tap-highlight-color: transparent; box-shadow: transparent 0px 0px 1px; opacity: 1; cursor: grab; user-select: none; margin: 0px;">
                            Discharge valve</p>
                        <p id="text28" class="contextMenu plain-draggable"
                            style="font-size: 20px; font-family: Arial; font-style: normal; color: rgb(0, 0, 0); position: absolute; top: 824px; left: 475px; will-change: left, top; -webkit-tap-highlight-color: transparent; box-shadow: transparent 0px 0px 1px; opacity: 1; cursor: grab; user-select: none; margin: 0px;">
                            Flow:</p>
                        <p id="text29" class="contextMenu plain-draggable"
                            style="font-size: 20px; font-family: Arial; font-style: normal; color: rgb(0, 0, 0); position: absolute; top: 823px; left: 591px; will-change: left, top; -webkit-tap-highlight-color: transparent; box-shadow: transparent 0px 0px 1px; opacity: 1; cursor: grab; user-select: none; margin: 0px;">
                            m3/s</p>
                        <p id="displayValue30" class="contextMenu plain-draggable"
                            style="font-size: 20px; font-family: Arial; font-style: normal; color: rgb(255, 128, 0); position: absolute; top: 825px; left: 532px; will-change: left, top; -webkit-tap-highlight-color: transparent; box-shadow: transparent 0px 0px 1px; opacity: 1; cursor: grab; user-select: none; margin: 0px;">
                            0.000</p>
                        <p id="text31" class="contextMenu plain-draggable"
                            style="font-size: 30px; font-family: Arial; font-style: normal; color: rgb(255, 0, 0); position: absolute; top: 130px; left: 754px; will-change: left, top; -webkit-tap-highlight-color: transparent; box-shadow: transparent 0px 0px 1px; opacity: 1; cursor: grab; user-select: none; margin: 0px;">
                            TANK LEVEL CONTROL</p>
                    </div>
                    <div id="alarm" class="container-fluid tab-pane fade bg-white full-height px-2">
                        <div class="row pt-3 px-2">
                            <button class="btn btn-primary ml-auto mr-5" id="btnAck">Acknowledge</button>

                        </div>

                        <div class="row mt-3 px-2" style="max-height: 90%; overflow-y:auto">
                            <table class="table table-hover" id="alarmTable">
                                <thead class="bg-secondary text-white">
                                    <tr>
                                        <th>#</th>
                                        <th>Date</th>
                                        <th>Time</th>
                                        <th>Source</th>
                                        <th>Value</th>
                                        <th>Message</th>
                                        <th>Type</th>
                                        <th>State</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><input type="checkbox" /></td>
                                        <td>10/03/2019</td>
                                        <td>20:00:00</td>
                                        <td>Level</td>
                                        <td>3.5</td>
                                        <td>Too high level</td>
                                        <td>HI HI</td>
                                        <td>UNACK</td>
                                    </tr>
                                    <tr>
                                        <td><input type="checkbox" /></td>
                                        <td>10/03/2019</td>
                                        <td>20:00:00</td>
                                        <td>Khanh</td>
                                        <td>3.5</td>
                                        <td>Too high level</td>
                                        <td>HI HI</td>
                                        <td>UNACK</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                    <div id="history" class="container-fluid tab-pane fade bg-white full-height px-2">
                        <div class="row pt-3 px-2">

                            <label for="#inputFilter" class="my-auto mx-2">Filter</label>
                            <input class="form-control" id="inputFilter" type="text" placeholder="Search.."
                                style="max-width : 400px" />

                            <label for="#inputFilter" class="my-auto ml-5 mr-2">From</label>
                            <input class="form-control inputTimeFilter" id="inputFrom" type="date"
                                style="max-width : 200px" />

                            <label for="#inputFilter" class="my-auto ml-5 mr-2">To</label>
                            <input class="form-control inputTimeFilter" id="inputTo" type="date"
                                style="max-width : 200px" />

                            <button class="btn btn-primary ml-auto mr-3" id="btnRefreshHistory">Refresh</button>
                            <button class="btn btn-primary mr-3" id="btnExportToPdf">Export</button>
                        </div>

                        <div class="row mt-3 px-2" style="max-height: 90%; overflow-y:auto">
                            <table class="table table-hover text-center" id="historyTable">
                                <thead class="bg-secondary text-white">
                                    <tr>
                                        <th>Tag</th>
                                        <th>Data type</th>
                                        <th>Address</th>
                                        <th>Value</th>
                                        <th>Timestamp</th>
                                    </tr>
                                </thead>
                                <tbody>
                                   
                                </tbody>
                            </table>
                        </div>
                    </div>


                    <div id="dashboard" class="container-fluid tab-pane fade bg-white full-height"><br />
                        <br>
                        <div id="gauge32" class="gauge contextMenu draggable2 ui-draggable ui-draggable-handle"
                            title="Tank Level"
                            style="position: absolute; top: 53px; left: 750px; height: 400px; width: 400px;"><svg
                                height="100%" version="1.1" width="100%" xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink"
                                style="overflow: hidden; position: relative; cursor: pointer;" viewBox="0 0 200 150"
                                preserveAspectRatio="xMidYMid meet">
                                <desc style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">Created with Raphaël 2.1.4
                                </desc>
                                <defs style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
                                    <filter id="inner-shadow-gauge32">
                                        <feOffset dx="0" dy="3"></feOffset>
                                        <feGaussianBlur result="offset-blur" stdDeviation="5"></feGaussianBlur>
                                        <feComposite operator="out" in="SourceGraphic" in2="offset-blur"
                                            result="inverse"></feComposite>
                                        <feFlood flood-color="black" flood-opacity="0.2" result="color"></feFlood>
                                        <feComposite operator="in" in="color" in2="inverse" result="shadow">
                                        </feComposite>
                                        <feComposite operator="over" in="shadow" in2="SourceGraphic"></feComposite>
                                    </filter>
                                </defs>
                                <path fill="#ffffff" stroke="none"
                                    d="M30.625,120L25,120A75,75,0,0,1,175,120L169.375,120A69.375,69.375,0,0,0,30.625,120Z"
                                    fill-opacity="0.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"
                                    filter="url(#inner-shadow-gauge32)"></path>
                                <path fill="#0080ff" stroke="none"
                                    d="M30.625,120L25,120A75,75,0,0,1,25.155406050190123,115.17436465446436L30.76875059642586,115.53628730537953A69.375,69.375,0,0,0,30.625,120Z"
                                    style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"
                                    filter="url(#inner-shadow-gauge32)"></path>
                                <path fill="#0080ff" stroke="none"
                                    d="M11.196243037452742,108.2618836972519L10.42414138216704,120.23701872922149L17.171982695543736,114.65963021760722Z"
                                    stroke-width="0" stroke-linecap="square"
                                    style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); stroke-linecap: square; cursor: pointer;">
                                </path><text x="100" y="23.4375" text-anchor="middle" font-family="sans-serif"
                                    font-size="15px" stroke="none" fill="#999999"
                                    style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-family: sans-serif; font-size: 15px; font-weight: bold; fill-opacity: 1;"
                                    font-weight="bold" fill-opacity="1">
                                    <tspan dy="0" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">Tank Level
                                    </tspan>
                                </text><text x="100" y="117.64705882352942" text-anchor="middle" font-family="Arial"
                                    font-size="23px" stroke="none" fill="#000000"
                                    style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-family: Arial; font-size: 23px; font-weight: bold; fill-opacity: 1;"
                                    font-weight="bold" fill-opacity="1">
                                    <tspan dy="0" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">2.05</tspan>
                                </text><text x="100" y="134.18552036199097" text-anchor="middle" font-family="Arial"
                                    font-size="10px" stroke="none" fill="#000000"
                                    style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-family: Arial; font-size: 10px; font-weight: normal; fill-opacity: 1;"
                                    font-weight="normal" fill-opacity="1">
                                    <tspan dy="0" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">m</tspan>
                                </text><text x="27.8125" y="134.18552036199097" text-anchor="middle" font-family="Arial"
                                    font-size="10px" stroke="none" fill="#000000"
                                    style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-family: Arial; font-size: 10px; font-weight: normal; fill-opacity: 1;"
                                    font-weight="normal" fill-opacity="1">
                                    <tspan dy="0" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">0</tspan>
                                </text><text x="172.1875" y="134.18552036199097" text-anchor="middle"
                                    font-family="Arial" font-size="10px" stroke="none" fill="#000000"
                                    style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-family: Arial; font-size: 10px; font-weight: normal; fill-opacity: 1;"
                                    font-weight="normal" fill-opacity="1">
                                    <tspan dy="0" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">100</tspan>
                                </text>
                            </svg></div>
                        <div id="chartDiv33" class="draggable2 ui-draggable ui-draggable-handle"
                            style="position: absolute; top: 495px; left: 230px;">
                            <div class="chartjs-size-monitor">
                                <div class="chartjs-size-monitor-expand">
                                    <div class=""></div>
                                </div>
                                <div class="chartjs-size-monitor-shrink">
                                    <div class=""></div>
                                </div>
                            </div><canvas class="chart contextMenu chartjs-render-monitor" id="chart33" width="1400"
                                height="400"
                                style="height: 400px; width: 1400px; display: block; cursor: pointer;"></canvas>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>




    <script src="/javascripts/jquery-3.3.1.min.js"></script>

    <script src="/javascripts/jspdf.min.js"></script>
    <script src="/javascripts/jspdf.plugin.autotable.js"></script>



    <script src="/javascripts/popper.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>



    <script src="/javascripts/bootstrap-slider.min.js"></script>







    <script src="/javascripts/socket.io.js"></script>

    <script src="/javascripts/moment.js"></script>
    <script src="/javascripts/Chart.min.js"></script>
    <script src="/javascripts/hammer.js"></script>

    <script src="/javascripts/raphael-2.1.4.min.js"></script>
    <script src="/javascripts/justgage.js"></script>

    <script src="/javascripts/Myscripts/publish.js"></script>

</body>

</html>